<h1>List of users</h1>

<table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>
          
        </th>

        <th>
          
        </th>
      </tr>

      <% @list_status_users.each do |status_struct| %>
      <tr>
        <td>
          <% if user_signed_in? %>
            <%= status_struct.user.username %>
          <% else  %>
            <%= status_struct.username %>
          <% end  %>
        </td>

        <td>
          <% if user_signed_in? %>
            <% if status_struct.user.private == true %>
              Yes
            <% else %>
              No
            <% end %>
          <% else  %>
            <% if status_struct.private == true %>
              Yes
            <% else %>
              No
            <% end %>
          <% end  %>
          
        </td>

        <td>
            <% if user_signed_in? %>
              <% if status_struct.hasBeenAccepted  %>
                  <a href="/delete_follow_request/<%= status_struct.user.id %>">
                  Unfollow
                  </a>
              <% elsif status_struct.hasBeenPending  %>
                  Request Sent. <a href="/delete_follow_request/<%= status_struct.user.id %>">
                  Cancel
                </a>
              <% elsif status_struct.hasBeenRejected  %>
               
              <% else   %>
                  <form action="/insert_follow_request" method="post">
                    <input type="hidden" name="query_recipient_id" value="<%= status_struct.user.id %>">

                    <button>
                      Follow
                    </button>
                </form>
              <% end %>
            <% else  %>
              
            <% end  %>


            
      
        </td>

        <td>
          <% if user_signed_in? %>
            <a href="/users/<%= status_struct.user.username %>">
              Show details
            </a>
          <% else  %>
            <a href="/users/<%= status_struct.username %>">
              Show details
            </a>
          <% end  %>

          
        </td>
      </tr>
      <% end %>
    </table>
