<div>
  <div>
    <h1>
      Photo Details
    </h1>


    <dl>

      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_photo.image %>" class="img-responsive">
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_photo.owner_id %>
      </dd>

      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>

      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>

      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Fans
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>

      <dt>
        Add a fan
      </dt>
      <dd>

        <% if current_user.likes.where(photo: @the_photo).exists?  %>

        <a href="/delete_like/<%= @the_photo.id%>">
            Unlike
          </a>  
        <% else %>
            <form action="/insert_like" method="post">
                <input type="hidden" value=<%= @the_photo.id %> name="query_photo_id">
                <button>Like</button>
            </form>
            
          
        <% end %>

      </dd>

    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit photo
    </h2>

    <form action="/modify_photo/<%= @the_photo.id %>"  method="post" >
      <div>
        <label for="caption_box">
          Caption
        </label>

        <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
      </div>

      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image" value="<%= @the_photo.image %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">
      </div>

      <button>
        Update photo
      </button>
    </form>

    <% if current_user.id == @the_photo.owner_id  %>
      <dt>Delete photo</dt>
      <dd>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a>
      </dd>
    <% end %>

    <h2>Comments</h2>

    <table>
      <tbody><tr>
        <th>Commenter</th>
        <th>Comment</th>
        <th>Posted</th>
      </tr>
      <% @list_comment_structs.each do |comm_struct| %>
        <tr>
          <td>
            <%= comm_struct.authorName %>
          </td>

          <td>
            <%= comm_struct.commentTxt %>
          </td>

          <td>
            <%= time_ago_in_words(comm_struct.dateInWords )%>
          </td>
        </tr>  
      <% end %>
    </tbody></table>

    <h3>Add a new comment</h3>
    <form action="/insert_comment" method="post">
      <input type="hidden" value="<%= @the_photo.id %>" name="query_photo_id">
      
      <label for="browser_comment">Comment</label>
      <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>

      <button>Add comment</button>
    </form>
  </div>
</div>

<hr>
